<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Verze: {{ global.version }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-button href="/list" routerDirection="forward">Seznam RZ </ion-button>
	
  <p>Loaded: {{ hermes.loaded }}</p>
  <p>List: <a [href]="'/list'">GO</a> tohle nefunguje: cannot read property length of undefined</p>
  <p>Spravne: <ion-button href="/list" routerDirection="forward">GO2 </ion-button> </p>

   <ion-button  (click)="hermes.loadXML()">Nacti XML</ion-button>
   <ion-button  (click)="hermes.selectNode('//RECS/REC')">SelectNode</ion-button>
   <ion-button  (click)="hermes.readStatus()">STATUS HERMES</ion-button>
   <ion-button  (click)="openLocalSpz()">Seznam SPZ</ion-button>
   <ion-button  (click)="hermes.loadXSL()">loadXSL</ion-button>
   <ion-button  (click)="hermes.showData('WAPKA')">ShowData</ion-button>
  
</ion-content>
